#login_form {
    margin: auto;
    margin-top: 20px;
    max-width: 20em;   
    border: 3px;
    border-style: solid;
    border-radius: 25px;
    padding:  10px;
}
.form-check{
    display: inline;
}
