{% extends "shared/_layout.html" %}
{% block title %} Sign up {% endblock %}
{% block addition_css %} {% endblock %}
{% block additional_js %} {% endblock %}
{% block main_content %}
<form method="post" accept-charset="utf-8">
    {% for message in get_flashed_messages() %}
    {{message}}
    {% endfor %}
    <input type="hidden" name="csrf_token" value={{csrf_token}}>
    <label for='name'>Name</label>
    <input type="text" id='name' name="name" value="">
    <label for='password'>Password</label>
    <input type="password" id='password' name="password" value="">  
    <label for="rememberme">Remember Me</label>
    <input type="checkbox" id='rememberme' name="rememberme">
    <button type="submit">Login</button>
</form>
<a href="/signup" title="signup">Create new account</a>
{% endblock %}