{% macro post_display(posts) -%}
    {% if posts %}
    <ul class='list-group'>
        {% for p in posts %}
        <li> 
            {{ post(p) }}
        </li>
        {% endfor %}
    </ul>
    {% else %}
     There are no posts.
    {% endif %} 
{%- endmacro %}

{% macro post(p) -%}
    <article class='list-group-item'>
        <h5>Status: {{p.pub_status}}</h5>
        <a href="/read/{{p.id}}"><h2>{{p.title}}</h2></a>
        <p>{{p.content|safe}}</p>
        <footer> 
            <p>{{p.author}}</p>
            <p>{{p.date}}</P>
        </footer>
    </article>
{%- endmacro %}

{% macro pub_status_form(p) -%}
 <fieldset>
    <legend>Publication Status</legend>
    {% if session.role == 'editor' %}
    <label for="public">Public</label>
    <input type="radio" name="pub_status" id='public' value='public' onclick="this.form.submit()"
    {% if p.pub_status == 'public' %} checked='checked' {% endif %} >
    {% endif %}
    <label for="draft">Draft</label>
    <input type="radio" name="pub_status" id='draft' value='draft' onclick="this.form.submit()"
    {% if p.pub_status == 'draft' %} checked='checked' {% endif %} >
    <label for="private">Private</label>
    <input type="radio" name="pub_status" id=private' value='private' onclick="this.form.submit()"
    {% if p.pub_status == 'private' %} checked='checked' {% endif %} >
</fieldset>
{% endmacro %}